<header class="w-full bg-white shadow px-6 py-3 flex justify-between items-center">
  <div class="text-xl font-bold text-gray-800">Toxic Detector</div>

  <nav class="flex gap-40 items-center text-gray-700 font-medium mg">
    <a routerLink="/home" routerLinkActive="text-blue-600" class="hover:text-blue-500"> <lucide-icon [img]="Home"
        class="w-5 h-5" /></a>
    <a routerLink="/profile" routerLinkActive="text-blue-600" class="hover:text-blue-500"> <lucide-icon [img]="User"
        class="w-5 h-5" /></a>
    <a routerLink="/friends" routerLinkActive="text-blue-600" class="hover:text-blue-500"> <lucide-icon [img]="Users"
        class="w-5 h-5" /></a>

    <a routerLink="/settings" routerLinkActive="text-blue-600" class="hover:text-blue-500"> <lucide-icon
        [img]="Settings" class="w-5 h-5" /></a>
    <div class="flex items-center gap-4">
      <a routerLink="/login" routerLinkActive="text-blue-600" *ngIf="!isLogged"
        class="flex items-center gap-1 text-gray-700 hover:text-blue-600">
        <lucide-icon [img]="LogIn" class="w-5 h-5" />
        <span class="text-sm">Login</span>
      </a>

      <button *ngIf="isLogged" (click)="Logout()" class="flex items-center gap-1 text-gray-700 hover:text-red-600">
        <lucide-icon [img]="LogOut" class="w-5 h-5" />
        <span class="text-sm">Logout</span>
      </button>
    </div>

  </nav>

  <div class="flex items-center gap-4">
    <img src="https://i.pravatar.cc/40" class="w-9 h-9 rounded-full border" alt="User" />
  </div>
</header>